// These are all the files for bootstrap
// Place bootstrap variable overrides in "bootstrap-overrides"
@import "bootstrap-overrides"
@import "bootstrap-custom"

// Place app styles here

a
  color: #3c8095
  cursor: pointer
  font-weight: bold

p
  font-size: 1em !important
  line-height: 1.2em
  margin: 8px 0

.jen-logo
  background: url('/images/korff_logo_color.png')
  height: 145px
  // margin-left: 80px
  width: 242px

.jumbotron
  background: #b1d6e2

.project-detail
  display: none

.project-show
  display: block

.clear-both
  clear: both

// .thumb-container
//   text-align: center

.proj-thumbnail
  cursor: pointer
  display: inline-block
  margin: 0 6px 12px
  img
    border: solid 1px rgb(170, 170, 170)

.selected-images
  margin: 0 0 30px

.main-project-image
  border: solid 1px rgb(170, 170, 170)
  max-width: 100%

.selected-thumbs
  display: inline-block
  margin: 6px 6px 0px 0px

ul.filters
  margin: 0px 0px 20px
  padding: 0px
  // text-align: center
  li
    display: inline-block
    margin: 0 8px

ul.case-studies
  margin: 0px 0px 20px
  padding: 0px
  // text-align: center
  li
    display: inline-block
    margin: 0 8px
    a
      background: #b1d6e2
      border-radius: 2px
      color: white
      padding: 4px 8px
      &.case-true, &:hover
        background: #3c8095 !important
        text-decoration: none



a.active-true
  text-decoration: underline