// These are all the files for bootstrap
// Place bootstrap variable overrides in "bootstrap-overrides"
@import "bootstrap-overrides"
@import "bootstrap-custom"

// Place app styles here

.jen-logo
  background: url('/images/korff_logo.png')
  height: 145px
  width: 242px

.project-detail
  display: none

.project-show
  display: block

.clear-both
  clear: both

.thumb-container
  text-align: center

.proj-thumbnail
  cursor: pointer
  display: inline-block
  margin: 0 6px 12px